{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Consultas{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Consultas</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pacientes<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href={% url 'paciente_create' %}>Nuevo</a></li>
              <li><a href={% url 'paciente_list' %}>Ver pacientes</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Historias<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="active"><a href={% url 'historia_create' %}>Nueva</a></li>
            </ul>
          </li>
        </ul>
        <form action="" class="navbar-form navbar-left" role="search">
          {% csrf_token %}
          <div class="form-group">
            <input id="search_input" type="text" class="form-control typeahead" placeholder="Buscar">
          </div>
          <button type="submit" class="btn btn-default">Buscar</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container">
      <div class="page-header">
        <h1>{% block page_title %}Example Base Template{% endblock page_title %}</h1>
      </div>

      {# Notifications to the user #}
      {% if messages %}
        <div class="row">
          <div class="col-md-10">
            {% for message in messages %}
              <div id="message_{{ forloop.counter }}"
                {% if message.tags %} class="alert alert-{{ message.tags }}"> {% endif %}
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}


      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

      <br>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/typeahead.bundle.min.js' %}></script>

    <!-- place project specific Javascript in this file -->
    <script src={% static 'js/project.js' %}></script>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47125083-1', 'consultas-mtorres.herokuapp.com');
      ga('send', 'pageview');
    </script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
